body{
  background-color: #a58faa;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color:white;
  border-width: 5px;
  width:5%;
}
h1{
  width: 250px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 text-align: center;
}
.image{
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.circular{
  border-radius: 100%
}
